@using CamadaDeControle.Models;
@model IEnumerable<Produto>
@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

@if (TempData["Mensagem"] != null && !string.IsNullOrWhiteSpace(TempData["Mensagem"].ToString()))
{
    <div>@TempData["Mensagem"]</div>
}

<table>
    <tr>
        <th>@Html.DisplayNameFor(p => p.Nome)</th>
        <th>@Html.DisplayNameFor(p => p.Descricao)</th>
        <th>@Html.DisplayNameFor(p => p.Preco)</th>
    </tr>
    @foreach (var produto in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => produto.Nome)</td>
            <td>@Html.DisplayFor(model => produto.Descricao)</td>
            <td>@Html.DisplayFor(model => produto.Preco)</td>
            <td>@Html.ActionLink("Editar", "Editar", new { id = produto.ProdutoID })</td>
        </tr>
    }
</table>

